{% extends "Page/base.html.twig" %}

{% block metatitle%} articles {% endblock %}

{% block content %}
    <!--symfony configure pour que cela parte directement depuis Templates donc  Page donc pas besoin de mettre templates pour le chemin meme si on cree le dossier Partial pour mettre sa base il faudra ecrire 'Partial/articles.html.twig' sans indiquer  templates {Pourcent extends "Page/base.html.twig" Pourcent} -->
    <main>
        <h2>Pika Pika !!</h2>
        <h3>Les articles du blog</h3>
    {% for pokemon in pokemons %}
        {% if pokemon.isPublished %}
            <h1 class="poke2 ">{{ pokemon.id }}</h1>
            <h1 class="poke2 ">{{ pokemon.title }}</h1>
            <p class="poke2 "><img src="{{ pokemon.image }}"></p>
            <h1 class="poke2 ">{{ pokemon.content }}</h1>
            <h1 class="poke2 "><a href="{{ path('show_pokemon',{idPokemon:pokemon.id})}}">Go get Your Poke</a></h1>
        {% endif %}
    {% endfor %}

    </main>
{% endblock %}
